@use "sass:map";
@use '../../../design-system' as ds;

$z-index-mouse-mask: 10000; // NOTE: Above .ag-dnd-ghost z-index of 9999
$z-index-debug-canvas: $z-index-mouse-mask + 10;
$z-index-splash: $z-index-debug-canvas + 10;
$z-index-debug-panel: $z-index-splash + 10;
$z-index-mouse-capture-mask: $z-index-splash + 10;
$z-index-splash-contents: 10;

$splash-hidden-amount: 82%;

:global(.automated-row-grouping-grid.ag-theme-alpine-dark) {
    position: relative;

    svg[class*='logo-mark'] {
        position: absolute;
        display: block;
        width: 64px * 2;
        height: 48px * 2;
        top: 50%;
        left: 50%;
        transform: translate(-60px, -48px);
    }

    // Button overrides for for .ag-styles specificity
    :global(button.ag-side-button-button) {
        // Inherit text styles
        color: inherit;
        font-family: inherit;
        font-size: inherit;
        font-weight: inherit;
        line-height: inherit;

        // Button styles
        background: transparent;
        padding: calc(var(--ag-grid-size) * 2) 0 calc(var(--ag-grid-size) * 2) 0;
        width: 100%;
        margin: 0;
        min-height: calc(var(--ag-grid-size) * 18);
        background-position-y: center;
        background-position-x: center;
        background-repeat: no-repeat;

        border: none;
        border-top: var(--ag-borders-side-button) var(--ag-border-color);
        border-bottom: var(--ag-borders-side-button) var(--ag-border-color);
        $border-top-color: transparent;
        $border-bottom-color: transparent;

        &:focus {
            box-shadow: none;
        }
    }
}

.splash {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: $z-index-splash;

    &:hover {
        transform: translateX(ds.$size-3);
        transition: ds.$default-transition-timing;
    }

    &.hide {
        transform: translateX($splash-hidden-amount);
        transition: ds.$default-transition-timing;

        &:hover {
            cursor: pointer;
            transform: translateX(calc(#{$splash-hidden-amount} - #{ds.$size-3}));
            transition: ds.$default-transition-timing;
        }
    }

    .contents {
        position: absolute;
        width: 565px;
        margin-right: ds.$size-6;
        margin-top: ds.$size-9;
        top: 0;
        right: 0;
        color: map.get(ds.$abstract-colors, 'white');
        z-index: $z-index-splash-contents;

        h2 {
            text-align: left;
            font-size: ds.$font-size-gigantic;
            font-weight: ds.$font-weight-bold;
        }

        p {
            font-size: ds.$font-size-extra-large;
            line-height: ds.$line-height-tight;
        }

        button {
            --button-color: #{map.get(ds.$abstract-colors, 'white')};
            --button-hover-color: #{map.get(ds.$abstract-colors, 'sky-blue')};
            --button-text-color: #{map.get(ds.$abstract-colors, 'dark-cerulean-blue')};

            margin-top: ds.$size-4;
            font-size: ds.$font-size-extra-large;

            &:hover {
                --button-text-color: #{map.get(ds.$abstract-colors, 'dark-cerulean-blue')};
            }
        }

        a {
            --link-color: #{map.get(ds.$abstract-colors, 'white')};
            --link-hover-color: #{map.get(ds.$abstract-colors, 'sky-blue')};
            --text-color: #{map.get(ds.$abstract-colors, 'white')};
            display: block;
            text-decoration: underline;
            font-size: ds.$font-size-extra-large;
            margin-top: ds.$size-8 !important; // Override homepage styles
            float: none;

            &:hover {
                svg {
                    fill: map.get(ds.$abstract-colors, 'sky-blue');
                }
            }
        }
    }
}

.splashTrapeziumBackground {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transform: skew(-45deg) translateX(35%);
    background-color: rgba(map.get(ds.$abstract-colors, 'dark-cerulean-blue'), 0.75);
    backdrop-filter: blur(5px);
}

.debugPanel {
    position: fixed;
    top: 0;
    right: 0;
    width: 200px;
    height: 7.5rem;
    border-left: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    background-color: rgba(255, 255, 255, 0.85);
    padding: ds.$size-2;
    z-index: $z-index-debug-panel;

    :global(.state) {
        &::before {
            content: 'State: ';
            color: var(--dull-light-gray);
        }
    }

    :global(.paused-state) {
        &::before {
            content: 'Paused at: ';
            color: var(--dull-light-gray);
        }
    }

    :global(.draw-checkbox) {
        margin-top: ds.$size-1;
        cursor: pointer;
    }
}

.debugCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: $z-index-debug-canvas;
}

.mouseMask {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 41px 1rem 1rem;
    overflow: hidden;
    z-index: $z-index-mouse-mask;
    pointer-events: none;

    // Start off hidden
    opacity: 0;

    :global(.mouse) {
        position: absolute;
        top: 0;
        left: 0;
    }

    :global(.highlight) {
        opacity: 0.15;
    }

    :global(.animate-click) {
        transform-origin: 50% calc(50% - 1px);
        opacity: 0;
        transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
    }

    &:global(.animate .animate-click) {
        opacity: 0.3;
        transform: scale(12);
    }
}

.mouseCaptureMask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: $z-index-mouse-capture-mask;

    &:global(.hidden) {
        display: none;
    }
}
